{% extends 'layout.html' %}

{% block content %}
      <section class="header">
          <h1>R. Ibrahim Ali Morrow</h1>
          <p>Looking for a job</p>
          <img src="/static/images/about_self.jpg" alt="Headshot of myself">
      </section>
      <section id="about-page">
          <div id="triangle7"></div>
          <div id="triangle8"></div>
          <h2>Who I Am</h2>
          <p>
              I'mgood at writing prose and essays and can write in spanish. Speaking is in development.
          </p>
          <p>
              On to coding, I am skilled in python and have a adequite command over HTML and CSS. I will be learning JavaScript soon.
          </p>
          <p>
              I'm good at communicating in both written and oral form. I never give up but also know when to ask for help. I work well in a team and get my work done thoroughly.
          </p>
          <a href="#"><i class="far fa-file"></i>Resume</a>
      </section>
{% endblock %}